@import url('https://fonts.googleapis.com/css?family=Quicksand|Megrim');

$bgl: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cGF0aCBkPSJNIDAgMCBMIDAgMTAwIEwgMTAwIDEwMCBMIDEwMCAwIEwgMCAwIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZT0iI2FhYSIgZmlsbD0iI0JEQjNBMSI+PC9wYXRoPgo8L3N2Zz4=");
$bgd: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPg0KPHBhdGggZD0iTSAwIDAgTCAwIDEwMCBMIDEwMCAxMDAgTCAxMDAgMCBMIDAgMCIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiM1MjRlNDciIGZpbGw9IiM0RDQ5NDMiPjwvcGF0aD4NCjwvc3ZnPg==");
$bgs: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPg0KPHBhdGggZD0iTSAwIDAgTCAwIDEwMCBMIDEwMCAxMDAgTCAxMDAgMCBMIDAgMCIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiNhODllOGEiIGZpbGw9IiNCMEE2OTQiPjwvcGF0aD4NCjwvc3ZnPg==");
$bc: #BDB3A1;

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    background: #{$bc};
    background-image: #{$bgl};
}
section {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b, strong {
    font-weight: inherit;
}
img {
    border-style: none;
    max-width: 40px;
    max-height: 40px;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    color: #fff;
    font: 2em abel, trebuchet ms, verdana, arial, sans-serif;
    letter-spacing: 1.5px;
}
button, select {
    overflow: visible;
    text-transform: none;
}
canvas {
    display: block;
    z-index: -1;
    border: none;
    margin: 0;
    padding: 0;
}
[hidden] {
    display: none;
}
.landing {
    display: grid;
    width: 100vw;
    height: 100vh;
    position: relative;
    grid-template-rows: 5fr 1fr 5fr 5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        ". . ."
        ". input-area ."
        ". results ."
        ". . .";
    grid-auto-flow: column;
    align-items: start;
    justify-items: stretch;
}
.results {
    grid-area: results;
    display: grid;
    position: absolute;
    grid: repeat(5, 1fr) / 1fr;
    width: 100%;
    grid-row-gap: 15px;
    color: #222;
    justify-items: stretch;
    align-items: stretch;

    &.result[data-class="new"]:before {
        content: attr(data-class);
    }

    & .result {
        display: grid;
        position: relative;
        grid: 1fr / 45px 15px 1fr;
        grid-template-areas: "img . result";
        background-image: #{$bgs};
        min-height: 40px;
        align-items: center;
        font-size: 1.5em;
        justify-items: stretch;

        a {
            grid-area: result;
            position: absolute;
            z-index: 100;
            width: 100%;
            height: 100%;
        }

        .img {
            max-width: 40px;
            max-height:40px;
            grid-area: img;
        }

        span {
            grid-area:result;
            position: relative;
            z-index: 4;
        }
    }
}

.active {
    display: block;
    position: relative;
    filter: grayscale(1) contrast(1);
    z-index: 150;

    &:before {
        position: absolute;
        animation: blink .1s ease-in 5 alternate;
        color: #524e47;
        content: '◾';
        width: 1fr;
        height: 1fr;
        right: 5px;
        bottom: 0;
    }
}

.input-area {
    grid-area: input-area;
    display: grid;
    position: relative;
    grid-template-rows: 1fr;
    grid-template-columns: 5px 40px 10fr;
    grid-template-areas: ". icon search";
    background-image: #{$bgd};
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.5);

    &:before {
        position: absolute;
        content: '';
        top: -5px;
        background: #4D4943;
        width: 100%;
        height: 1px;
    }
    &:after {
        position: absolute;
        content: '';
        bottom: -5px;
        background: #4D4943;
        width: 100%;
        height: 1px;
    }
}
.icon {
    grid-area: icon;
    color: #fff;
}
.line {
    grid-area: line;
}
.search {
    grid-area: search;
    background: none;
    padding-left: 15px;
    border: none;
    outline: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
